.button {
    position: absolute;
    top:50%;
    background-color:#1515ba;
    color: rgb(0, 0, 0);
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}
h1 {
    color: blue
}
body {
    background-image: url("Images/mainbackground.png");
}